<app-listado-generico [listado]="peliculas">
    <ng-container contenido>
        <div class="peliculas-contenedor">
            <div *ngFor="let pelicula of peliculas; let index = index" class="pelicula-contenedor">
                <a [routerLink]="'/peliculas/' + pelicula.id">
                    <img [src]="pelicula.poster" alt="Póster" />
                </a>

                <p>
                    <a [routerLink]="'/peliculas/' + pelicula.id">{{ pelicula.titulo }}</a>
                </p>

                <app-autorizacion [rol]="'Admin'">
                    <ng-container autorizado>
                        <div>
                            <a mat-flat-button color="primary" [routerLink]="'/peliculas/editar/' + pelicula.id">
                                Editar
                            </a>
        
                            <button mat-flat-button color="warn" type="button"
                                [swal]="{title: 'Confirmación', text: '¿Desea eliminar la película?', showCancelButton: true}"
                                (confirm)="borrarPelicula(pelicula.id)">
                                Borrar
                            </button>
                        </div>
                    </ng-container>
                </app-autorizacion>
            </div>
        </div>
    </ng-container>
</app-listado-generico>